<div class="card">
  <p-toast></p-toast>

  <p-table [value]="products"
           dataKey="id"
           editMode="row"
           [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:20%">Code</th>
        <th style="width:20%">Name</th>
        <th style="width:20%">Inventory Status</th>
        <th style="width:20%">Price</th>
        <th style="width:20%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body"
                 let-product
                 let-editing="editing"
                 let-ri="rowIndex">
      <tr [pEditableRow]="product">
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText
                     type="text"
                     [(ngModel)]="product.code">
            </ng-template>
            <ng-template pTemplate="output">
              {{product.code}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText
                     type="text"
                     [(ngModel)]="product.name"
                     required>
            </ng-template>
            <ng-template pTemplate="output">
              {{product.name}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="statuses"
                          appendTo="body"
                          [(ngModel)]="product.inventoryStatus"
                          [style]="{'width':'100%'}"></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{product.inventoryStatus}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText
                     type="text"
                     [(ngModel)]="product.price">
            </ng-template>
            <ng-template pTemplate="output">
              {{product.price | currency: 'USD'}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <button *ngIf="!editing"
                    pButton
                    pRipple
                    type="button"
                    pInitEditableRow
                    icon="pi pi-pencil"
                    (click)="onRowEditInit(product)"
                    class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing"
                    pButton
                    pRipple
                    type="button"
                    pSaveEditableRow
                    icon="pi pi-check"
                    (click)="onRowEditSave(product)"
                    class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="editing"
                    pButton
                    pRipple
                    icon="pi pi-times"
                    type="button"
                    pCancelEditableRow
                    (click)="onRowEditCancel(product, ri)"
                    class="p-button-rounded p-button-text p-button-danger"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<button pButton
        pRipple
        icon="pi pi-check"
        label="Submit"
        class="p-button-success"></button>